::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
  
body {
    overflow-x: hidden;
    transition: .35s ease-out; 
    /* cursor: none; */
}

.cursor {
    pointer-events: none; 
} 

.cursor__ball {
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference;
    z-index: 100;
}  

.cursor circle {
    fill: #f7f8fa;
}


h1, h2, h3, h4 {
    font-family: 'Muller', sans-serif;
    letter-spacing: +.0em;
    line-height: 1;
    color: black;
}

h1 {
    font-size: 60px;
    font-weight: 500;
}

h2 {
    font-size: 48px;
    font-weight: 500;
    line-height: 1.3;
}

h3 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.3;
}

h4 {
    font-size: 22px;
    font-weight: 600;
    font-variant-caps: all-petite-caps;
    opacity: .8;
    color: #a182cc;
}

p {
    font-size: 14px;
    opacity: .9;
    line-height: 1.5;
}

p, a, li {
    font-family: 'Muller', sans-serif;
    letter-spacing: -.02em;
    line-height: 1.2;
}

a:hover {
    text-decoration: none;
    color: gray;
    transition: .3s;
}

@media (min-width: 420px) {
    .button-1 {
        border: 1px solid #b9b9b9;
        border-radius: 1.8em;
        color: #434343;
        background-color: inherit;
        padding: 15px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        transition: .5s;
        margin-top: 40px;
    }
    
    .button-1:hover {
        color: white;
        background-color: #262626;
        transition: .5s;
    }

    .so-row {
        padding: 0 60px 0 60px;
    }

    .navlist a {
        font-size: 14px;
        margin-left: 25px;
        /* mix-blend-mode: difference; */
    }
}

@media (max-width: 420px) {
    .so-row {
        padding: 0 20px 0 20px;
    }

    .navlist a {
        font-size: 16px;
        margin-left: 24px;
        /* mix-blend-mode: difference; */
    }
}

.annotation {
    opacity: .5;
    font-size: 14px;
    letter-spacing: -.01em;
}

.topnav {
    width: 100vw;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 10px;
    position: fixed;
    z-index: 1;
}

.navlist {
    padding-top: 0px;
    font-weight: 500;
}

.topnav a {
    color: #7b7b7b;
    margin-top: 12px;
    line-height: 1;
}

.topnav a:hover {
    color: rgb(50, 50, 50);
    transition: .3s;
    font-weight: 500;
}

.topnav img {
    width: 220px;
    margin: 0;
}

.navlist button {
    border: none;
    border-radius: 1.5em;
    color: #ffffff;
    background-color: #3f9cff;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    transition: .5s;
}

.navlist button:hover {
    color: white;
    background-color: #005bbd;
    transition: .5s;
}

.greet-cont {
    width: 100vw;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

/* .cursor {
    position: absolute;
    width: 200px;
    height: 200px;
    top: 0;
    left: 0;
    margin: -100px 0 0 -100px;
    background-color: #ffffff;
    border-radius: 100px;
    backface-visibility: hidden;
    transition: 100ms;
    mix-blend-mode: difference;
    display: none;
}

#greet-h1:hover ~ .cursor {
    display: block;
    transition: 100ms;
} */

#greet-h1 {
    position: fixed;
    padding: 20px 20px 10px 20px;
    margin: 0;
}


html{
    scroll-snap-type: y proximity;
}
  
#one, #index-about, #services, #projects, #index-advant {
    scroll-snap-align: center;
    scroll-snap-stop: always;
}


#inbetween {
    width: 100%;
    height: 20vh;
    position: absolute;
    top: 30vh;
    z-index: -1;
}

.greet-video {
    width: 100vw;
}

.greet-blob {
    position: absolute;
    z-index: -1;
    top: 45vh;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.greet-blob img {
    width: 50%;
    margin-top: 15vh;
}

#index-about {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    text-align: center;
    margin-bottom: 20px;
}

#index-about h2 {
    width: 60%;
}

#index-about p {
    width: 40%;
}



#three {
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 80vh;
}



.index-services-cont {
    width: 100%;
    margin-top: 0px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.index-services-cont h4 {
    margin: 80px 0 50px 0;
}

.index-services {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-bottom: 60px;
}

.i-services-card {
    background-color: #ffffff;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    margin: 0 20px;
    padding: 40px;
    border-radius: 50px;
    width: 33%;
}

.i-services-text h3 {
    margin-bottom: 15px;
}


#four {
    z-index: -1;
    width: 100%;
}



.index-projects-cont {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    margin-top: 200px;
}

.i-projects-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    width: 50%;
    height: 440px;
    margin: 0 20px;
}

.i-projects-card img {
    height: 440px;
    object-fit: cover;
    border-radius: 50px;
    position: absolute;
    display: block;
}

#i-projects-text {
    width: 100%;
    height: 440px;
    border-radius: 50px;
    font-size: 24px;
    padding: 40px;
    color: black;
    background-color: #e295ba;
}

#p-card-1:hover ~ #p-card-1-img {
    display: none;
}



#index-advant {
    height: 90vh;
    margin-top: 110px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

#index-advant h2 {
    width: 60%;
}

#index-advant p {
    width: 40%;
    line-height: 1.5em;
    margin-top: 10px;
}

#index-advant img {
    width: 90px;
    margin-top: 50px;
}
